/* [class*=container]{
    min-height: 3rem;
    background-color: rgb(116, 111, 111);
    border: 1px solid red;
}
[class*=row]{
    min-height: 3rem;
    background-color: rgba(255, 255, 255, 0.537);
    border: 1px solid white;
}
[class*=col]{
    min-height: 3rem;
    background-color: rgba(255, 0, 0, 0.541);
    border: 1px solid white;
}
[class*=prova]{
    min-height: 3rem;
    background-color: rgba(255, 0, 0, 0.541);
    border: 1px solid white;
} */

.dimensioniProva{
    height: 50rem;
}


/* contenitore principale */
.contenitorePrincipale{
    display: flex;
    height: 100vh;
}
/* header */

header{
    
    
    z-index: 100;
}
 
header .contHeaderTop{
    width: 100%;
    height: var(--altezzaHeader);
    background-color: var(--backgroundcolorHeade);
    position: fixed;
    display: flex;
    align-items: center;
}

header .contImmagine{
    height: 2rem;
}

.contImmagine img{
    height: 100%;
}

/* castomizzazione stile della search input */

.input-group-text{
    background-color: var(--backgrondcolorSearchBarrHeader);
    border: none;
}

.form-control{
    background-color: var(--backgrondcolorSearchBarrHeader);
    border: none;
}

.form-control:focus {
    background-color: var(--backgrondcolorSearchBarrHeader);
    box-shadow: none;
}



/* menu laterale */
.my-cont-menu{
    width: var(--larghezzaSidebarr);
    height: var(--altezzaSidebar);
    /* debug */
    
     background-color: grey;
}

.my-cont-menu .container {
    height: var(--altezzaSidebar);
}
.my-cont-menu .row {
    height:calc(var(--altezzaSidebar) - 2px) ;
}





/* inizio main */
main{
    overflow-y: scroll;
    width: calc(100vw - 84px);
    height: calc(100vw - var(--altezzaHeader));
    margin-top: var(--altezzaHeader);

    /* debug */
    background-color: black;
}

main:first-child{
    background-color: var(--backgroundColorHeadMain);
}