/* [class*=container]{
    min-height: 3rem;
    background-color: rgb(116, 111, 111);
    border: 1px solid red;
}
[class*=row]{
    min-height: 3rem;
    background-color: rgba(255, 255, 255, 0.537);
    border: 1px solid white;
}
[class*=col]{
    min-height: 3rem;
    background-color: rgba(255, 0, 0, 0.541);
    border: 1px solid white;
}
[class*=prova]{
    min-height: 3rem;
    background-color: rgba(255, 0, 0, 0.541);
    border: 1px solid white;
} */

.dimensioniProva{
    height: 50rem;
}


/* contenitore principale */
.contenitorePrincipale{
    display: flex;
    height: 100vh;
}
/* header */

header{
    
    
}
 
header .contHeaderTop{
    width: 100%;
    height: var(--altezzaHeader);
    background-color: var(--backgroundcolorHeade);
    z-index: 100;
    display: flex;
    align-items: center;
}

header .contImmagine{
    height: 2rem;
}

.contImmagine img{
    height: 100%;
}

/* castomizzazione stile della search input */

.input-group-text{
    background-color: var(--backgrondcolorSearchBarrHeader);
    border: none;
}

.form-control{
    background-color: var(--backgrondcolorSearchBarrHeader);
    border: none;
}

.form-control:focus {
    background-color: var(--backgrondcolorSearchBarrHeader);
    box-shadow: none;
}



/* menu laterale */
.my-cont-menu{
    width: var(--larghezzaSidebarr);
    height: calc(100vh - var(--altezzaHeader));
    background-image: url('../img/sidebar-bg.png');
    background-color: var(--backgroundcolorSidebar);
    color: white;
}

.my-cont-menu .container {
    height: var(--altezzaSidebar);
}
.my-cont-menu .row {
    height:calc(var(--altezzaSidebar) - 2px) ;
}

.contIcon span{
    font-size: 0.8rem;
}



/* inizio main */
main{
    overflow-y: scroll;
    margin-top: var(--altezzaHeader);
    width: calc(100vw - var(--larghezzaSidebarr));
    height: calc(100vh - var(--altezzaHeader));
    

    
}

#contHeadMain {
    background-color: var(--backgroundColorHeadMain);
    color: white;
}

.testoPercorso{
    font-size: 0.7rem;
    padding: 0.1rem 0.4rem;
    border-radius: 30px;
    background-color: rgba(38, 45, 130, 0.3);
}


.contCentrale .numero{
    font-size: 1.5rem;
}
