:root{
    --dimensioniHeader: 69px;
    --backgroundcolorHeade: white;
    --larghezzaSidebarr: 84px;
    --altezzaSidebar: calc(100vh - var(--dimensioniHeader));
    --backgroundColorHeadMain: #1b72e8; 
    --backgrondcolorSearchBarrHeader: rgb(185, 185, 185);
}