:root{
    --altezzaHeader: 69px;
    --backgroundcolorHeade: white;
    --larghezzaSidebarr: 84px;
    --altezzaSidebar: calc(100vh - var(--altezzaHeader));
    --backgroundColorHeadMain: #1b72e8; 
    --backgroundcolorSidebar: #051e34;
    --backgrondcolorSearchBarrHeader: rgb(185, 185, 185);
}